<div id="<%= dom_id user_type %>">
  <p>
    <strong>User type:</strong>
    <%= user_type.user_type_id %>
  </p>

  <p>
    <strong>User type name:</strong>
    <%= user_type.user_type_name %>
  </p>

</div>
