<div id="<%= dom_id job_application_state %>">
  <p>
    <strong>State:</strong>
    <%= job_application_state.state_id %>
  </p>

  <p>
    <strong>State name:</strong>
    <%= job_application_state.state_name %>
  </p>

</div>
