<h1>Editing job application state</h1>

<%= render "form", job_application_state: @job_application_state %>

<br>

<div>
  <%= link_to "Show this job application state", @job_application_state %> |
  <%= link_to "Back to job application states", job_application_states_path %>
</div>
