<h1>New job application state</h1>

<%= render "form", job_application_state: @job_application_state %>

<br>

<div>
  <%= link_to "Back to job application states", job_application_states_path %>
</div>
